altgraph==0.17.4
argparse==1.4.0
cffi==1.17.1
numpy==2.3.1
packaging==25.0
pillow==11.3.0
profilehooks==1.13.0
pycparser==2.22
pygame==2.6.1
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
Pyqtree==1.0.0
PyYAML==6.0.2
setuptools==80.9.0
